<form action="/api/contact" method="post" class="contact-form">
  <ul>
    <li>
      <label for="name">이름:</label>
      <input type="text" id="name" name="name" required />
    </li>
    <li>
      <label for="phone">연락처:</label>
      <input type="text" id="phone" name="phone" required />
    </li>
    <li>
      <label for="email">이메일:</label>
      <input type="text" id="email" name="email" required />
    </li>
    <li>
      <label for="memo">내용:</label>
      <textarea id="memo" name="memo" cols="50" rows="10"></textarea>
    </li>
  </ul>
  <button type="submit">문의하기</button>
</form>
